﻿<form name="weatherForm" ng-submit="$event.preventDefault()">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">iAsset Techincal Test</span>
                    <span class="md-subhead">By Shane Thurai</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>

                <md-autocomplete required flex
                                 md-input-name="countryList"
                                 md-selected-item="$ctrl.selectedCountry"
                                 md-search-text="countrySearchText"
                                 md-items="item in $ctrl.getCountryList(countrySearchText)"
                                 md-item-text="item.Name"
                                 md-floating-label="Country Name"
                                 md-selected-item-change="$ctrl.selectedCity= null; $ctrl.weatherInfo=null"
                                 md-require-match>
                    <md-item-template>
                        <span md-highlight-text="countrySearchText">{{item.Name}}</span>
                    </md-item-template>
                    <div ng-messages="weatherForm.countryList.$valid" ng-if="weatherForm.countryList.$touched && weatherForm.countryList.$invalid">
                        <div ng-message="required">You <b>must</b> select a Country.</div>
                        <div ng-message="md-require-match">Please select an existing Country</div>
                    </div>
                </md-autocomplete>

                <md-autocomplete required flex
                                 md-input-name="cityList"
                                 md-selected-item="$ctrl.selectedCity"
                                 md-search-text="citySearchText"
                                 md-items="item in $ctrl.getCityList(citySearchText)"
                                 md-item-text="item.Name"
                                 md-floating-label="City Name"
                                 ng-disabled="weatherForm.countryList.$invalid"
                                 md-selected-item-change="$ctrl.weatherInfo=null"
                                 md-require-match>
                    <md-item-template>
                        <span md-highlight-text="citySearchText">{{item.Name}}</span>
                    </md-item-template>
                    <div ng-messages="weatherForm.cityList.$valid" ng-if="weatherForm.cityList.$touched && weatherForm.cityList.$invalid">
                        <div ng-message="required">You <b>must</b> select a City.</div>
                        <div ng-message="md-require-match">Please select an existing City</div>
                    </div>
                </md-autocomplete>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ng-click="$ctrl.getWeatherInfo()" ng-disabled="weatherForm.cityList.$invalid || weatherForm.countryList.$invalid">Get Weather Info</md-button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Weather Information for {{ $ctrl.selectedCity.Name }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-content layout-padding>
                    <p>
                        <span>Location</span>: {{ $ctrl.weatherInfo.Location }}
                    </p>
                    <p>
                        <span>Time</span>: {{ $ctrl.weatherInfo.Time }}
                    </p>
                    <p>
                        <span>Wind</span>: {{ $ctrl.weatherInfo.Wind }}
                    </p>
                    <p>
                        <span>Visibility</span>: {{ $ctrl.weatherInfo.Visibility }}
                    </p>
                    <p>
                        <span>SkyConditions</span>: {{ $ctrl.weatherInfo.SkyConditions }}
                    </p>
                    <p>
                        <span>DewPoint</span>: {{ $ctrl.weatherInfo.DewPoint }}
                    </p>
                    <p>
                        <span>RelativeHumidity</span>: {{ $ctrl.weatherInfo.RelativeHumidity }}
                    </p>
                    <p>
                        <span>Pressure</span>: {{ $ctrl.weatherInfo.Pressure }}
                    </p>
                </md-content>
            </md-card-content>
        </md-card>
    </div>
</form>